$headingFont: 'Pacifico', cursive;

$defaultFont:'Gloria Hallelujah', cursive;

$blogfontFamily: 'Poiret One', cursive;

$primaryBackgroundColor:#cca809;
$primaryColor:white;

$headerColor:pink;
$headerBackColor:black;

$menuItemColor: black;
$gutter:5%;